<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>zhihu</display-name>
  <context-param>
    <param-name>driverClass</param-name>
    <param-value>com.mysql.jdbc.Driver</param-value>
  </context-param>
  <context-param>
    <param-name>url</param-name>
    <param-value>jdbc:mysql://localhost:3306/zhihu?useUnicode=true&amp;characterEncoding=UTF-8</param-value>
  </context-param>
  <context-param>
    <param-name>user</param-name>
    <param-value>root</param-value>
  </context-param>
  <context-param>
    <param-name>password</param-name>
    <param-value>123456</param-value>
  </context-param>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Up</display-name>
    <servlet-name>Up</servlet-name>
    <servlet-class>com.Up</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Up</servlet-name>
    <url-pattern>/Up</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Mainframe</display-name>
    <servlet-name>Mainframe</servlet-name>
    <servlet-class>com.Mainframe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Mainframe</servlet-name>
    <url-pattern>/Mainframe</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Down</display-name>
    <servlet-name>Down</servlet-name>
    <servlet-class>com.Down</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Down</servlet-name>
    <url-pattern>/Down</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Article</display-name>
    <servlet-name>Article</servlet-name>
    <servlet-class>com.Article</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Article</servlet-name>
    <url-pattern>/Article</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Collect</display-name>
    <servlet-name>Collect</servlet-name>
    <servlet-class>com.Collect</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Collect</servlet-name>
    <url-pattern>/Collect</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QuestionContent</display-name>
    <servlet-name>QuestionContent</servlet-name>
    <servlet-class>com.QuestionContent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuestionContent</servlet-name>
    <url-pattern>/QuestionContent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Jump</display-name>
    <servlet-name>Jump</servlet-name>
    <servlet-class>com.Jump</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Jump</servlet-name>
    <url-pattern>/Jump</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QuestionHeader</display-name>
    <servlet-name>QuestionHeader</servlet-name>
    <servlet-class>com.QuestionHeader</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuestionHeader</servlet-name>
    <url-pattern>/QuestionHeader</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Daily</display-name>
    <servlet-name>Daily</servlet-name>
    <servlet-class>com.Daily</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Daily</servlet-name>
    <url-pattern>/Daily</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WentiGuanzhu</display-name>
    <servlet-name>WentiGuanzhu</servlet-name>
    <servlet-class>com.WentiGuanzhu</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WentiGuanzhu</servlet-name>
    <url-pattern>/WentiGuanzhu</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AnswerSubmit</display-name>
    <servlet-name>AnswerSubmit</servlet-name>
    <servlet-class>com.AnswerSubmit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AnswerSubmit</servlet-name>
    <url-pattern>/AnswerSubmit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ArticleContent</display-name>
    <servlet-name>ArticleContent</servlet-name>
    <servlet-class>com.ArticleContent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ArticleContent</servlet-name>
    <url-pattern>/ArticleContent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetHead</display-name>
    <servlet-name>GetHead</servlet-name>
    <servlet-class>com.GetHead</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetHead</servlet-name>
    <url-pattern>/GetHead</url-pattern>
  </servlet-mapping>
    <servlet>
    <description></description>
    <display-name>GetUsernameServlet</display-name>
    <servlet-name>GetUsernameServlet</servlet-name>
    <servlet-class>servlet.GetUsernameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetUsernameServlet</servlet-name>
    <url-pattern>/GetUsernameServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetDongtaiServlet</display-name>
    <servlet-name>GetDongtaiServlet</servlet-name>
    <servlet-class>servlet.GetDongtaiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetDongtaiServlet</servlet-name>
    <url-pattern>/GetDongtaiServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetGuanZhuRenServlet</display-name>
    <servlet-name>GetGuanZhuRenServlet</servlet-name>
    <servlet-class>servlet.GetGuanZhuRenServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetGuanZhuRenServlet</servlet-name>
    <url-pattern>/GetGuanZhuRenServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetBeiGuanZhuServlet</display-name>
    <servlet-name>GetBeiGuanZhuServlet</servlet-name>
    <servlet-class>servlet.GetBeiGuanZhuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetBeiGuanZhuServlet</servlet-name>
    <url-pattern>/GetBeiGuanZhuServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetShouCangServlet</display-name>
    <servlet-name>GetShouCangServlet</servlet-name>
    <servlet-class>servlet.GetShouCangServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetShouCangServlet</servlet-name>
    <url-pattern>/GetShouCangServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetSelfQServlet</display-name>
    <servlet-name>GetSelfQServlet</servlet-name>
    <servlet-class>servlet.GetSelfQServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetSelfQServlet</servlet-name>
    <url-pattern>/GetSelfQServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetGuanZhuHTServlet</display-name>
    <servlet-name>GetGuanZhuHTServlet</servlet-name>
    <servlet-class>servlet.GetGuanZhuHTServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetGuanZhuHTServlet</servlet-name>
    <url-pattern>/GetGuanZhuHTServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetSelfAServlet</display-name>
    <servlet-name>GetSelfAServlet</servlet-name>
    <servlet-class>servlet.GetSelfAServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetSelfAServlet</servlet-name>
    <url-pattern>/GetSelfAServlet</url-pattern>
  </servlet-mapping>
</web-app>